<div class="container">


    <div class="container" style="background-color: #8a8a8a; height: 90px; margin-top: 20px"></div>

    <h1 class="article-title is-size-3 is-size-4-mobile" style="text-align: center;margin-top: 20px" itemprop="name">
        ⚡️ Pinterest Video Downloader
    </h1>
    <h2 class="article-title is-size-4 is-size-2-mobile" style="text-align: center;margin-top: 20px">
        Full HD, 2K and 4K Quality
    </h2>

    <div class="field is-horizontal" style="margin: 20px">
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input style="margin: auto" type="text" class="input" placeholder="<%= __('insight.hint') %>"/>
                </p>
            </div>
        </div>
        <div>
            <button class="button is-primary is-fullwidth">
                <i class="fas fa-download" style="margin-right: 8px"></i>
                  Download
            </button>
        </div>
    </div>
</div>
